{{ header }}
<div id="information-information" class="container-fluid container-lg flex-grow-1 mobile-no-gutters">
	{{ oct_breadcrumbs }}
	<main class="main">
		<div class="row">
			<div class="col-12 sc-page-title pb-3">
				<h1>{{ heading_title }}</h1>
			</div>
		</div>
		<div class="content-top-box">{{ content_top }}</div>
		<div class="row">
			{{ column_left }}
			{% if column_left and column_right %}
				{% set class = 'col-xl-6' %}
			{% elseif column_left or column_right %}
				{% set class = 'col-xl-9' %}
			{% else %}
				{% set class = 'col-xl-12' %}
			{% endif %}
			<div id="content" class="{{ class }}">
				<div class="content-block p-3 p-md-4 mobile-no-radius content-block-text no-hover-shadow">
					{{ description }}
				</div>
			</div>
			{{ column_right }}
		</div>
    	{{ content_bottom }}
	</main>
</div>
{{ footer }}
